<?xml version="1.0"?>
<model>
  <name>box_magenta</name>
  <version>1.0</version>
  <sdf version='1.5'>box_magenta.sdf</sdf>
  <author>
    <name>Giulio Vestri</name>
    <email>g.vestri2904@gmail.it</email>
  </author>
  <description>Magenta rectangular box - graspable object</description>
</model>
